/* .containerOpciones {
    padding: 20px;
    background-color: #fff;/#E6F2FD;/
    border: 1px solid #3A68BE;
    border-radius: 5px;
    margin-top: 15px; 
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
  }

  form {
    margin-bottom: 1rem;
  } */

  table{
    border-radius: 5px;
    border: 1px solid #3a68be;
  }

  td {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #3a68be;
  }